


<br><br>

<div class="brands_products" ><!--brands_products-->

							<div class="brands-name">
                                <h2>Kullanıcı Menü</h2>
								<ul class="nav nav-pills nav-stacked">
                                    <li><a href="/logout"> <span class="pull-right"></span>Logout</a></li>
									<li><a href="/order/shopcart"> <span class="pull-right"></span>Sepetim</a></li>
									<li><a href="/order/checkout"> <span class="pull-right"></span>Checkout</a></li>
									<li><a href="/order/detail/"> <span class="pull-right"></span>Sipariş Detay</a></li>

								</ul>
							</div>
						</div><!--/brands_products-->





